venv/
__pycache__/
.vscode/
data.db
.DS_Store
tests/performance/.ipynb_checkpoints/
build/
util/models
tests/performance/*.csv
tests/performance/models/
models/
tests/functional/test_files/
.ipynb_checkpoints/
doc/data/
tests/performance/data/
util/data/
results/